## imports
importFrom(stats
	, "update"
	, "rmultinom"
	, "rweibull"
	, "quantile"
	, "rexp"
)
importFrom(graphics
	, "plot"
	, "lines"
	, "mtext"
	, "par"
)
importFrom(utils
	, "head"
	, "tail"
)
importFrom(MASS
	, "mvrnorm"
)
importFrom(methods
	, "new"
)
importFrom(mstate
	, "transMat"
)
importFrom(msm
	, "rpexp"
)
importFrom(plyr
	, "."
	, "ddply"
)

## exports
export(
	simulateCohort
	, generateHazardMatrix
	, generateParameterMatrix
	, generateParameterCovarianceMatrix
	, transitionProbabilities
	, cumulativeIncidence
)
exportClasses(
	transition.structure
	, ArtCohort
	, PosteriorProbabilities
)
exportMethods(
	summary
	, print
	, update
	, plot
	, "["
	, "[["
	, "[[<-"
	, head
	, tail
)